$font: 'Helvetica Neue', sans-serif;
$fontAdd: 'Russo One', sans-serif;

// Primary and accent colors
$accMain: #7289DA;
$accPurple: #9B59C4;
$accYellow: #FAD201;
$accBlue: #2C98F0;
$accRed: #FF3B3B;
$accGreen: #43B581;

// other
$cornerRadius: 4px;
$shadowPopup: 0px 3px 10px rgba(46, 48, 54, 0.2);

// other - backgrounds
$bg: #F2F3F5;
$bg2: #FFF;
$border: #E3E5E8;

// other - fonts
$text: #060607;
$text1: #4F5660;
$text2: #6A7480;

// other
$bs1: 1px solid;